@import "../../../../styles.scss";

.hero__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    overflow: hidden;
    .scrolling-image-container {
        height: 100%;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        .scrolling-image {
            background: url('/assets/img/hero-pattern.png');
            height: 9680px;
            width: 9680px;
            animation: slide 80s linear infinite;
        
        }
    }

    @keyframes slide {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translate(-3840px, -3840px);

        }
    }
    
    .hero__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 4em;
        
        @include media-up(mobile){
            font-size: 2em;
        }
        h1 {
            background: #4351FF;
            background: linear-gradient(to bottom, #4351FF 0%, #873DDF 30%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2 {
            font-size: 1em;
            background: #AA2FC6;
            background: linear-gradient(to bottom, #AA2FC6 0%, #E80397 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .hero__button {
        display: flex;
        gap: 1rem;
        user-select: none;
        .hero__btn {
            /* display: inline-block; */
            padding: 0.9em 1.6em;
            border: none;
            outline: none;
            color: $color-text;
            font-family: inherit;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 12px;
        }
        .hero__btn::after {
            content: "";
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $color-gradient-button;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
        .hero__btn::before {
            content: "";
            background: linear-gradient(
               45deg,
               #FF0000, #002BFF, #FF00C8, #002BFF,
                 #FF0000, #002BFF, #FF00C8, #002BFF
            );
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 600%;
            z-index: -1;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            filter: blur(8px);
            animation: glowing 20s linear infinite;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
            opacity: 0;
        }
        @keyframes glowing {
            0% {
             background-position: 0 0;
            }
           
            50% {
             background-position: 400% 0;
            }
           
            100% {
             background-position: 0 0;
            }
        }
        .hero__btn:hover::before {
            opacity: 1;
        }
        .hero__btn:active {
            font-weight: bold;
            transform: scale(0.95);
        }
    }
    
}
