<section class="skills__container" *ngIf="perfilGit">
  <article class="github__profile">
    <img [src]="perfilGit.avatar_url" alt="" />
    <div class="github__content">
      <h1 class="title">{{ perfilGit.login }}</h1>
      <p>{{ perfilGit.location }}</p>

      <div class="">
        <p>Repositorios públicos: {{ perfilGit.public_repos }}</p>
      </div>

      <div class="followers__container">
        <p>
          Seguidores:
          <span>{{ perfilGit.followers }}</span>
        </p>
        <p>
          Siguiendo:
          <span>{{ perfilGit.following }}</span>
        </p>
      </div>
    </div>
  </article>

  <article class="skills__front skills">
    <h2 class="title">Frontend</h2>
    <div class="card__container">
      <app-cards *ngFor="let item of skillsFront" [item]="item"></app-cards>
    </div>
  </article>

  <article class="skills__back skills">
    <h2 class="title">Backend</h2>
    <div class="card__container">
      <app-cards *ngFor="let item of skillsBack" [item]="item"></app-cards>
    </div>
  </article>

  <article class="skills__database skills">
    <h2 class="title">Database</h2>
    <div class="card__container">
      <app-cards *ngFor="let item of skillsDatabase" [item]="item"></app-cards>
    </div>
  </article>
</section>
