<article class="sobreMi__container">
  <div class="sobreMi__content">
    <h2 class="sobreMi__title title">Sobre mi</h2>
    <p class="sobreMi__text">
      Hola! Mi nombre es Fernando Diaz. Soy de Formosa Argentina, tengo 23 años
      y soy un desarrollador y estudiante con experiencia en el área de
      desarrollo web.
    </p>
    <p class="sobreMi__text">
      Me encanta aprender nuevas tecnologías y frameworks para mejorar mis
      habilidades. Siempre estoy armando proyectos para ver hasta donde puedo
      llegar y poco a poco lograr mis metas, así que espero que pronto podramos
      trabajar juntos!😁
    </p>
    <p class="sobreMi__text">
      Actualmente a demás de participar del proyecto Oracle ONE en Alura Latam,
      estoy estudiando una Tecnicatura en Programación en TECLAB y un BootCamp
      de NUCBA sobre desarrollo web, más específico en full stack.
    </p>
  </div>

  <div class="sobreMi__imagen">
    <img src="/assets/img/foto-perfil.jpg" alt="" />
  </div>
</article>
