<footer class="footer">
  <div class="footer__redes">
    <a href="https://www.instagram.com/fernydiaz62/" target="_blank">
      <i class="bi bi-instagram" style="color: white"></i>
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100003980953321"
      target="_blank"
    >
      <i class="bi bi-facebook" style="color: white"></i>
    </a>
    <a href="https://twitter.com/MetalDev_06" target="_blank">
      <i class="bi bi-twitter" style="color: white"></i>
    </a>
    <a href="https://github.com/Metaldev-06" target="_blank">
      <i class="bi bi-github" style="color: white"></i>
    </a>
  </div>
  &copy; Desing by Fernando Diaz - 2022
</footer>
